header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #407899;
  color: whitesmoke;
}

.redBackground {
  background-color: red;
}

.table {
}

.delete_button {
  float: right;
}

#container_input {
  padding: 20px;
}

#container_inputs_and_button {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

#total_monthly_message {
  float: right;
}
