header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #407899;
  color: whitesmoke;
}

td {
  /* width: 16.6%; */
  overflow: hidden;
}

.redBackground {
  background-color: red;
}

/* Found this article https://stackoverflow.com/questions/4457506/set-the-table-column-width-constant-regardless-of-the-amount-of-text-in-its-cell */
/* Couldn't figure out why the size wouldn't stay the same, though I set a fixed width on td */
.table {
  table-layout: fixed;
}

.delete_button {
  float: right;
}

#container_input {
  padding: 20px;
}

#container_inputs_and_button {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

#total_monthly_message {
  float: right;
}
